.Recipe-dialog-block {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.Add-dialog-btn {
    width: 12rem;
}

.Close-dialog-btn {
    width: 12rem;
}

.Add-recipe-form {
    font-size: 2rem;
}